.transactiondetails-container{
    text-align: center;
    transform: translate(32vw,0vw);
    font-size: 1.2vw;
    margin:2vw;
    background-color: lightgray;
    width: 35vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1.5vw;

    .delete{
        background-color: red;
        color: white;
        margin: 1vw;
        
    }
    .edit{
        background-color: blue;
        color: white;
        margin: 1vw;
    }
    .deleteConfirmation{
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 14px );
        -webkit-backdrop-filter: blur( 14px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 15vw;
        border-radius: 1vw;
        transform: translate(0vw,-10vw);
    }
    .yes{
        background-color: green;
        transform: translate(1vw,1vw);
    }
    .no{
        background-color: red;
        transform: translate(0vw,1vw);

    }
}