.transactions-container{
   
    font-size: 1.5vw;
   
    hr{
        width: 80vw;

    }
    h2{
        color: black;
        text-align: center;

    }
    table{
        width: 90vw;
        transform: translate(5vw,10vw);

        
    }

}